.blogCard-container {
  padding: 1rem 2rem 1rem 2rem;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
}

.blogCard-butons {
  float: right;
}

.blogCard-smallImage {
  width: auto;
  height: auto;
}

.blogCard-mediumImage {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

