$linkColor:#4183c4;

.categoryCard {
  position: fixed;
  border: 0.1rem solid black;
  padding-bottom: 38.4rem;

  &-categories {
    padding: 1rem;
  }
}

.link {
  color: $linkColor;
}
.link:hover {
  color: $linkColor !important;
}

