$headerColor: black;
$linkColor: white;

.header-container {
  padding-bottom: 4rem;
}

.headerNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
  height: auto;
  background-color: $headerColor;

  &-search {
    width: 20rem;
    height: 2.1rem;
    margin: auto;
  }

  &-left {
    float: left;
    display: flex;

    & > a {
      display: inline;
      text-align: center;
      padding: 1rem 1rem;
      color: $linkColor;
    }
  }

  &-right {
    float: right;
    display: flex;
    padding: 0.5rem 1rem 0 0;

    & > a {
      border-bottom: 0.1rem solid white;
      display: inline;
      text-align: center;
      margin: auto;
      padding: 0;
      margin-left: 1.5rem;
      color: $linkColor;
    }
  }
}

a:hover {
  color: $linkColor !important;
}

a:link {
  color: $linkColor;
}
